doctype html
html(lang='en')
    head
        title Fantasy Hockey Central
        //link(rel='stylesheet', href='/stylesheets/style_weeklyblog.css')
        link(rel='stylesheet', href='/stylesheets/style_weeklyblog.css')
        meta(name='viewport', content='width=device-width')
        meta(charset="UTF-8")
        meta(name="google" content="notranslate")
        meta(http-equiv="Content-Language" content="en")

    body
        block site_header
            div.header
                div.titletext NHL 2022-2023
                select.toggleviewbutton(onChange="location = this.value")
                    option.togglevalue(value=`/`, selected="selected")='Fantasy Hockey Central'
                    option.togglevalue(value=`/weeklyschedule`)='NHL Weekly Schedule'
                    option.togglevalue(value=`/seasonschedule`)='NHL Season Schedule'
                    //option.togglevalue(value=`/players`)='Players'
                    //option.togglevalue(value=`/teams`)='Teams'
            div.wrapper 
                div.blogTitle Hockey Central Weekly Blog
                div.summary
                    div.sectionTitleWrapper
                        div.sectionTitle All-Star Snoozefest... 
                    div.blogWrapper 
                        div.blogContainer
                            //img.blogImage(src='images/blog/blog_whoswho.png' width="700" height="500")
                            div.blogTextContainer
                                div.blogText 
                                    | It was difficult to tell the teams apart... Divisions lost their identity.  At least come up with 4 distinct jerseys.   
                                div.blogText 
                                    | Too many desperate gimmicks.  Less pushed media, more players. Mix more comps like golf with skills...  
                div.summary
                    div.sectionTitleWrapper
                        div.sectionTitle Week 19 - Feb 13-19, 2023:   
                    div.weekWrapper 
                        div.blogContainer
                            div.blogTextContainer
                                div.tierWrapper
                                    div.tierTitle Tier 1
                                    p.tierText(class="tier1")
                                        img.teamImage(src='images/COL.png')
                                        img.teamImage(src='images/DET.png')
                                        img.teamImage(src='images/NJD.png')
                                        img.teamImage(src='images/OTT.png')
                                        |  play 4 games. Opportunities against suspect teams. 
                                div.tierWrapper
                                    div.tierTitle Tier 1
                                    p.tierText(class="tier1") 
                                        img.teamImage(src='images/BUF.png')
                                        img.teamImage(src='images/LAK.png')
                                        img.teamImage(src='images/TOR.png')
                                        |  play 3 games. Strong offenses facing poor defenses.
                                div.tierWrapper
                                    div.tierTitle Tier 5
                                    p.tierText(class="tier5")
                                        img.teamImage(src='images/PHI.png')
                                        img.teamImage(src='images/VGK.png')
                                        |  play only 2 games.
                //div.weekTitle Week 19 High Scoring Teams
                div.summary
                    div.sectionTitleWrapper
                        div.sectionTitle Team Scoring Opportunity:  
                    div.teamWeekWrapper
                        div.teamWeekContainer
                            div.summaryTitle
                                div.teamWrapper    
                                    img.teamImage(src='images/BLANK.png')
                                    div.teamName Team
                                div.teamElement GF/GP
                                div.teamElement Games
                                div.teamElement Opp GAA
                                div.teamElement.tierRank(class="tier0") 
                            div.teamHighlight 
                                div.teamWrapper
                                    img.teamImage(src='images/BUF.png') 
                                    div.teamName BUF 
                                div.teamElement.gfgp 3.7
                                div.teamElement.games 3
                                div.teamElement.averagegaa 3.8
                                div.teamElement.tierRank(class="tier1") 
                            div.teamHighlight 
                                div.teamWrapper
                                    img.teamImage(src='images/COL.png') 
                                    div.teamName COL 
                                div.teamElement.gfgp 3.1
                                div.teamElement.games 4
                                div.teamElement.averagegaa 3.2
                                div.teamElement.tierRank(class="tier1") 
                            div.teamHighlight 
                                div.teamWrapper
                                    img.teamImage(src='images/DET.png') 
                                    div.teamName DET 
                                div.teamElement.gfgp 3.0
                                div.teamElement.games 4
                                div.teamElement.averagegaa 3.3
                                div.teamElement.tierRank(class="tier1") T1
                            div.teamHighlight 
                                div.teamWrapper
                                    img.teamImage(src='images/LAK.png') 
                                    div.teamName LAK
                                div.teamElement.gfgp 3.3
                                div.teamElement.games 3
                                div.teamElement.averagegaa 3.7
                                div.teamElement.tierRank(class="tier1") 
                            div.teamHighlight 
                                div.teamWrapper
                                    img.teamImage(src='images/NJD.png') 
                                    div.teamName NJD
                                div.teamElement.gfgp 3.5
                                div.teamElement.games 4
                                div.teamElement.averagegaa 3.2
                                div.teamElement.tierRank(class="tier1") 
                            div.teamHighlight 
                                div.teamWrapper
                                    img.teamImage(src='images/OTT.png') 
                                    div.teamName OTT
                                div.teamElement.gfgp 3.0
                                div.teamElement.games 4
                                div.teamElement.averagegaa 3.2
                                div.teamElement.tierRank(class="tier1") 
                            div.teamHighlight 
                                div.teamWrapper
                                    img.teamImage(src='images/TOR.png') 
                                    div.teamName TOR
                                div.teamElement.gfgp 3.4
                                div.teamElement.games 3
                                div.teamElement.averagegaa 3.7
                                div.teamElement.tierRank(class="tier1") 



