extends layout

block extra_style_sheet
    link(rel='stylesheet', href='/stylesheets/style_teams.css')
    //meta(name='viewport', content='width=device-width initial-scale=1')
    meta(name='viewport', content='width=device-width')

block content
    div.header
        div.titletext NHL 2022-2023
        select.toggleviewbutton(onChange="location = this.value")
            option.togglevalue(value=`/teams`)='Team Overviews'
            option.togglevalue(value=`/schedule`)='NHL Weekly Schedules'
            option.togglevalue(value=`/players`)='Players'
    //-var teamlist = JSON.parse(JSON.stringify({teams}))
    .wrapper
        .flexcontainer
            .teamoverview.section
                .teamtitle Team Title
                    .teamname team button
                    .teamlogo teamlogo
                .teamrecord Team Record
            .last10results.section Last 10 Results
            .last10player.section Last 10 Player Stats
            .lastgame.section Last Game Summary
            .nextweek.section Next Week
            .next4weeks.section Next 4 Weeks
    