extends tableOfContents

block content
    div.title='Accessibility'
    div.subtitle='subtitle'
    div.content='content'
    div.image='image'
    div.content
        p.
            accessibility is design's tool against inaccessbility.
            inaccessibility exists in many forms 
            its up to you to decide how to support for your game
    p.
        accessibility is design's tool against inaccessbility.
        inaccessibility exists in many forms 
        its up to you to decide how to support for your game
    p 
    | accessibility is design's tool against inaccessbility.
    | inaccessibility exists in many forms 
    | its up to you to decide how to support for your game

        
