:root {
    --border_color: black;
    --white: #ffffff;
    --border_thickness: 2px;
    /*--background_color: #151111;*/
    --background_color: #202324;
    --text_primary: #ffffff;
    --text_secondary: #cdcdcd;
    --text_button: #ffaa00;
    --text_week: #00ff00;
}



body {
    /*padding: 20px;*/
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    /*background-color: #22303c;*/
    background-color: var(--background_color);
    /*height: 100vh;
    overflow-y:scroll;*/
    /*height: 100%;*/
}

html {
    /*height: 100%;*/
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: none;
    /*color: white;*/
    color: var(--text_secondary);
}


.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    min-height: 8vmin;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--text_primary);
    background-color: #22303c;
    font-size: 30px;
}

input[type="checkbox"]{
    -webkit-appearance: initial;
    appearance: initial;
    width: 20px;
    height: 20px;
    font-size: 1em;
    background: grey;
    position: relative;
    border: 1px solid white;
    border-radius: 2px;
    background: #80F080;
}
input[type="checkbox"]:checked {
    background: #F08080;
}
input[type="checkbox"]:not(:checked):before {
    content: "-";
    color: #000;
    position: absolute;
    left: 15%;
    top: -55%;
    /*transform: translate(10%,0%);*/
    /*-moz-transform: translate(5%, -3%);*/
    -webkit-transform: translate(25%, 0%);
    -moz-transform: translate(15%, -3%);
    -ms-transform: translate(10%, 10%);
    -o-transform: translate(0%, 0%);
    margin: auto;
}
input[type="checkbox"]:checked:after {
    /* Heres your symbol replacement - this is a tick in Unicode. */
    content: "+";
    color: #000;
    /* The following positions my tick in the center, 
     * but you could just overlay the entire box
     * with a full after element with a background if you want to */
    position: absolute;
    left: 0%;
    top: -40%;
    -webkit-transform: translate(3%, -3%);
    -moz-transform: translate(-11%, -8%);
    
    margin: auto;
    /*
     * If you want to fully change the check appearance, use the following:
     * content: " ";
     * width: 100%;
     * height: 100%;
     * background: blue;
     * top: 0;
     * left: 0;
     */
}

.titletext {
    min-width: 33%;
    max-width: 45%;
    text-align: center;
    font-size: 4vmin;
    color: var(--text_primary);
}


.changeweekbutton {
    /*font-size: 3vmin;*/
    font-size: clamp(12px,3vmin,42px);
    background-color: var(--background_color);
    color: var(--text_button);
    /*background-color: var(--text_button);
    color: var(--background_color);*/
    margin: auto;
}

.togglevalue {
    color: grey;
}

.toggleviewbutton {
    border: 2px solid white;
    border-radius: 10px;
    min-width: 33%;
    max-width: 45%;
    text-align: center;
    font-size: 4vmin;
    color: black;
}

.weekselectcontainer {
    position: sticky;
    top: 8vmin;
    height: 4vmin;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    /*font-size: 3vmin;*/
    font-size: clamp(12px,3vmin,42px);
    background-color: var(--background_color);
    width: clamp(60%, 1000px, 100%);
    margin: 0 auto;
}

.weekdaysectiondisplay {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.weekdaysdisplay {
    display: flex;
    justify-content: space-around;
    width: 100%
}

.opponentgaa {
    /*font-size: 3vmin;*/
    font-size: clamp(10px,3vmin,42px);
    text-align: center;
}

.opponentgaa.inactive {
    /*font-size: 3vmin;*/
    font-size: clamp(10px,2vmin,42px);
    text-align: center;
}

.tablerow {
    position: sticky;
    top: 12vmin;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    background-color: var(--background_color);
    width: clamp(60%, 1000px, 100%);
    margin: 0 auto;
}

.tablerow.inactive {
    width: clamp(40%, 800px, 100%);
}

.weekTitle {
    text-align: center;
    margin: auto;
    color: var(--text_week);
}

.schedulechangeweek {
    color: black;
    font-size: clamp(12px,2.5vmin,32px);
    margin: auto;
}

.teamcolumn {
    width: 30%;
    /*font-size: 3vmin;*/
    font-size: clamp(10px,3vmin,42px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: flex-end;
}

.teamcolumn.inactive {
    width: 25%;
    /*font-size: 3vmin;*/
    font-size: clamp(10px,2vmin,42px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: flex-end;
}


.team {
    width: 30%;
    /*display: flex;
    justify-content: space-around;*/
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    overflow: hidden;
    align-items: center;
    margin-right: 1px;
}

.team.inactive {
    width: 25%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    align-items: center;
    margin-right: 1px;
}

.teamgoalsper {
    /*font-size: 4vmin;*/
    font-size: clamp(12px, 4vmin, 48px);
    margin-right: 2px;
    justify-self: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1),
        -1px 1px 0px rgba(0, 0, 0, 1),
        1px -1px 0px rgba(0, 0, 0, 1),
        -1px -1px 0px rgba(0, 0, 0, 1);
    color: var(--text_primary);
    z-index: 1;
}

.teamgoalsper.inactive {
    /*font-size: 4vmin;*/
    font-size: clamp(12px, 2.5vmin, 48px);
}

.teamtitle {
    /*font-size: 4vmin;*/
    font-size: clamp(12px, 4vmin, 48px);
    text-align: center;
    margin: 2%;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1),
        -1px 1px 0px rgba(0, 0, 0, 1),
        1px -1px 0px rgba(0, 0, 0, 1),
        -1px -1px 0px rgba(0, 0, 0, 1),
        1px 0px 0px rgba(0, 0, 0, 1),
        -1px 0px 0px rgba(0, 0, 0, 1),
        0px -1px 0px rgba(0, 0, 0, 1),
        0px 1px 0px rgba(0, 0, 0, 1);
    color: white;
    position: relative;
    z-index: 1;
}

.teamtitle.inactive {
    /*font-size: 4vmin;*/
    font-size: clamp(12px, 2.5vmin, 48px);
}

.weeksummarycolumn {
    min-width: 5%;
    /*font-size: 4vmin;*/
    font-size: clamp(16px, 4vmin, 42px);
    text-align: center;
    margin: auto;
    background-color: grey;
    margin-left: 1px;
    margin-right: 2px;
    color: var(--text_primary);
}

.weeksummarycolumn.inactive {
    font-size: clamp(16px, 2.5vmin, 42px);
}

.weeksummarycolumnheader {
    min-width: 5%;
    /*font-size: 3vmin;*/
    font-size: clamp(10px,3vmin,42px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: flex-end;
    text-align: center;
}

.weekgptitle {
    margin-right: 5px;
    font-size: clamp(10px,3vmin,42px);
}

.weekgptitle.inactive {
    margin-right: 5px;
    font-size: clamp(10px,2vmin,42px);
}

.dayofweek {
    display: flex;
    flex-direction: column;
    text-align: center;
    /*font-size: 3vmin;*/
    font-size: clamp(12px,3vmin,42px);
    width: 100%;
    color: var(--text_primary);
}

.dayofweek.inactive{
    font-size: clamp(12px,2vmin,42px);
}

#table_display {
    width: clamp(60%, 1000px, 100%);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /*height: 76vmin;*/
}

#table_display.inactive {
    width: clamp(40%, 800px, 100%);
}

.td_container {
    display: flex;
    justify-content: space-around;
    /*max-height: 60px;*/
    margin-bottom: 1px;
    width: 100%;
    /*height: 100%;*/
}

.weekly_container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
/*
.weekly_game {
    text-align: center;
    width: 100%;
    max-height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.teamID {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.weekly_game {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-content: space-around;
    overflow: hidden;
    width: 100%;
    text-align: center;
}


.gameteamimage {
    max-width: 80%;
    transform: scale(1.2);
    max-height: 60px;
    vertical-align: middle;
    /*position: relative;
    top: -33%;*/    
}

.gameteamimage.inactive {
    max-width: 0%;
    transform: scale(0);
    max-height: 0px;
    vertical-align: middle;
    /*position: relative;
    top: -33%;*/    
}

.gameteamtext {
    display:none;
    visibility: hidden;
}

.gameteamtext.inactive {
    display:block;
    visibility: visible;
    text-align: center;
    align-items: center;
    margin: 0% auto 0% auto;
    font-size: clamp(10px, 2vmin, 32px);
    color: var(--text_primary);
    text-shadow: 1px 1px 0px black,
        -1px 1px 0px black,
        1px -1px 0px black,
        -1px -1px 0px black;
}

.gamedatas {
    position: absolute;
    bottom: 0%;
    font-size: clamp(12px, 3vmin, 32px);
    /*font-size: 3vmin;*/
    text-align: center;
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    max-height: 50%;
}

.gamedatas.inactive {
    position: absolute;
    bottom: 0%;
    font-size: clamp(10px, 2vmin, 32px);
    /*font-size: 3vmin;*/
    text-align: center;
    align-self: flex-end;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    width: 100%;
    max-height: 50%;
}


.teamimage {
    max-width: 100%;
    transform: scale(1.25);
    max-height: 60px;
    vertical-align: middle;
    overflow: hidden;
}

.teamimage.inactive {
    max-width: 00%;
    transform: scale(0);
    max-height: 00px;
    vertical-align: middle;
    overflow: hidden;
}

.hometeam {
    /*outline:1px solid white;*/
}

.awayteam {
    background-color: black;
    outline: 1px solid white;
    box-sizing: border-box;
    /*border: 5px solid white;*/
    /*box-shadow:inset 0px 0px 0px 5px #000;*/
    /*outline:0px solid white;*/
}



.today_column {
    background-color: green;
}



.miniwin {
    background-color: lightgreen;
    color: black;
}

.miniloss {
    background-color: lightcoral;
    color: black;
}

.minitie {
    background-color: #aaaaaa;
    color: black;
}

.futuregame {
    color: var(--text_primary);
    text-shadow: 1px 1px 0px black,
        -1px 1px 0px black,
        1px -1px 0px black,
        -1px -1px 0px black;
}








.fivegames {
    background-color: #f7a801
}

.manygames {
    background-color: #f76868;
}

.threegames {
    background-color: #7732a4;
}

.twogames {
    background-color: #016fa0;
}

.onegame {
    background-color: #02a9b0;
}

.nogames {
    
    background-color: #000;
}











#ANA {
    background-color: #f95500;
}
#ARI {
    /*background-color: #e5d8bf;*/
    background-color: #8e0028;
    color: oldlace;
}
#BOS {
    background-color: #fdb41f;
}
#BUF {
    background-color: #003087;
    color: #e0a422;
}
#CGY {
    background-color: #c8102e;
    color: oldlace;
    /*color: #f6b240*/
}
#CAR {
    /*background-color: #e03a3e;*/
    background-color: #e03a3e;
    /*#c8102e*/
    color: oldlace;
}
#CHI {
    background-color: #d3010d;
    color: oldlace;
}
#COL {
    background-color: #6f263d;
    color: oldlace;
}
#CBJ {
    background-color: #00285c;
    color: oldlace;
}
#DAL {
    background-color: #006a4e;
    color: oldlace;
}
#DET {
    background-color: #c8102b;
    color: #f7f7f7;
}
#EDM {
    background-color: #003777;
    color: #f0631d;
}
#FLA {
    background-color: #c4243e;
    color: oldlace;
}
#LAK {
    /*background-color: #919597;*/
    background-color: #a3abae;
    color: #1a1a1b;
}
#MIN {
    background-color: #025736;
    color: oldlace;
}
#MTL {
    background-color: #bf2f38;
    color: oldlace;
}
#NSH {
    /*background-color: #041342;*/
    background-color: #ffb81c;
    color: #041342;
    /*color: #ffb81c;*/
}
#NJD {
    background-color: #c2102d;
    color: oldlace;
    /*color: #1b1b1b;*/
}
#NYI {
    background-color: #002f83;
    color: #f44a01;
}
#NYR {
    background-color: #0038a9;
    color: oldlace;
    /*color: #ce1127*/
}
#OTT {
    background-color: #da1a32;
    color: #000000;
}
#PHI {
    background-color: #eb410e;
    color: oldlace;
}
#PIT {
    background-color: #ffb81c;
    color: #010101;
}
#SJS {
    background-color: #00788a;
    color: oldlace;
}
#SEA {
    background-color: #95d7d7;
    /*color: oldlace;*/
    color: #001429;
}
#STL {
    background-color: #002f87;
    color: #fdba31;
}
#TBL {
    background-color: #002765;
    /*background-color: #00205b;*/
    color: oldlace;
}
#TOR {
    /*background-color: #00488e;*/
    background-color: #013e7d;
    color: oldlace;
}
#UTA {
    /*background-color: #00488e;*/
    background-color: #71AFE5;
    color: oldlace;
}
#VAN {
    /*background-color: #027f3d;*/
    background-color: #01663f;
    color: oldlace;
}
#VGK {
    background-color: #d2b760;
    color: #000000;
}
#WSH {
    background-color: #cf132b;
    color: oldlace;
}
#WPG {
    background-color: #041e42;
    color: oldlace;
}

