:root {
    --border_color: black;
    --white: #ffffff;
    --border_thickness: 2px;
    /*--background_color: #151111;*/
    --background_color: #202324;
    --text_primary: #ffffff;
    --text_secondary: #cdcdcd;
    --text_button: #ffaa00;
    --text_week: #00ff00;
    overflow:auto;
}



body {
    /*padding: 20px;*/
    font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
    /*background-color: #22303c;*/
    background-color: var(--background_color);
    /*height: 100vh;
    overflow-y:scroll;*/
    /*height: 100%;*/
    
    /*font-size: clamp(12px,3vmin,42px);*/
    text-align: left;
}

html {
    /*height: 100%;*/
    scrollbar-gutter: stable;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /*border: none;*/
    /*color: white;*/
    color: var(--text_secondary);
}


.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    scrollbar-gutter: stable;
}


.headerContainer {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 53;
    min-height: 8vmin;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--text_primary);
    background-color: #22303c;
    font-size: 30px;
}

.portfolioContainer {
    /*position: sticky;
    top: 8vmin;
    left: 0;*/
    display: flex;
    /*align-items: center;*/
    width: 100%;
}


/*.navigationContainer {
    position: sticky;
    top: 8vmin;
    left: 0;
    height: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    /*justify-content:space-around;*/
    /*align-items: center;
    width: clamp(13%, 14vw, 15%);
    /*width: 15%;
    background-color: #000000;
    font-size: 1em;
}*/

@media (min-width: 1280px) {
    .navigationContainer {
        /*position: sticky;
        top: 8vmin;
        left: 0;*/
        height: 100%;
        z-index: 3;
        display: flex;
        flex-direction: column;
        /*justify-content:space-around;*/
        /*align-items: center;*/
        width: 10%;
        /*width: 15%;*/
        background-color: #000000;
        font-size: 1em;
    }
    .contentContainer {
        /*#position: sticky;
        #top: 8vmin;
        #left: 300px;*/
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        }

}    

@media (max-width: 1280px) {
    .navigationContainer {
        /*position: sticky;
        top: 8vmin;
        left: 0;*/
        height: 100%;
        z-index: 3;
        display: flex;
        flex-direction: column;
        /*justify-content:space-around;*/
        /*align-items: center;*/
        width: 20%;
        /*width: 15%;*/
        background-color: #000000;
        font-size: 1em;
    }    
    .contentContainer {
        /*#position: sticky;
        #top: 8vmin;
        #left: 300px;*/
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}





/*.contentContainer {
    /*#position: sticky;
    #top: 8vmin;
    #left: 300px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}*/

.navItem {
    height: auto;
    display: flex;
    margin: 2px;
    align-items: center;
}

.navImg {
    height: 64px;
    width: 48px;
    border: 0px solid #000000;
}

.navTitle {
    margin: 5px;
}

a:hover {
    background-color: #22303c;
}

select {
    /*font-size: clamp(12px,3vmin,42px);*/
    font-size: 1rem;
    color: brown;
}

option {
    color: brown;
}

.tableOfContents {
    color: brown;
}


.footerContainer {
    display: flex;
    width: clamp(50%, 1000px, 80%);
    justify-content: space-around;
}



.portfolioTable {
    display:flex;
    flex-direction: column;
}

.portfolioTableRow {
    display: flex;
    
}



@media (min-width: 1280px) {
    .portfolioContentImage {
        width: 500px;
        height: 315px;
        align-self: self-end;
        background-color:aliceblue;
    }
}    

@media (max-width: 1280px) {
    .portfolioContentImage {
        width: 300px;
        height: 315px;
        align-self: self-end;
        background-color:aliceblue;
    }    
}

iframe {
    height: 100%;
    width: 100%;
}

.portfolioContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:start;
}

.aportfolioContentImage {
    /*width:282px;*/
    align-self: self-end;
}


.portfolioTableRow {
    margin: 10px;
}



.title {
    /*font-size: clamp(16px,2.5vmin,46px);*/
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    /*padding-top: 10px;*/
    margin: 20px 0px 0px 10px;
    /*text-transform: uppercase;*/
}

.subtitle {
    margin: 20px 0px 0px 10px;
    /*font-size: clamp(12px,2vmin,40px);*/
    font-size: 1.1rem;
    /*font-weight: bold;*/
    /*color: skyblue;*/
    color: skyblue;
    /*text-transform: uppercase;*/
    
    overflow: hidden;
}

.subsubtitle {
    margin: 20px 0px 0px 10px;
    /*font-size: clamp(12px,2vmin,40px);*/
    font-size: 1.1rem;
    /*font-weight: bold;*/
    /*color: skyblue;*/
    color: skyblue;
    /*text-transform: uppercase;*/
    
    overflow: hidden;
}

.content {
    /*font-size: clamp(10px,1em,36px);*/
    font-size: 1rem;
}

.content p {
    margin: 10px 0px 10px 00px;
    line-height: 1.6;
}

.imageContainer {
    text-align: center;
}

.image {
    max-width: clamp(50%, 768px, 100%);
    
    margin: 10px 0 0 0;
}

td .image {
    margin: 0px;
    width: 100%;
}
/*tables*/

.tableimagecontainer {
    /*width: 50%;*/
    background-color:  rgba(0,0,0,0.5);
}

.tableimage {
    /*max-width: clamp(100%, 250px, 100%);*/
    /*width: 10vw;*/
    max-width: clamp(200px, 10vw, 1000px);
    height: auto;
    margin: 5px;
}

@media (min-width: 1024px) {
    .table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*width: 90%;*/
        
        font-size: 16px;
        border: 0px solid black;
        border-collapse: collapse;
        margin: auto;
        color: lightcoral;
    }
}    

@media (max-width: 1024px) {
    .table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*width: 90%;*/
        
        font-size: 32px;
        border: 0px solid black;
        border-collapse: collapse;
        margin: auto;
        color: lightcoral;
    }    
}

.tableContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.tableheader {
    display: flex;
    justify-content: space-evenly;
}

.tablerow {
    display: flex;
    flex-direction: column;
    border: 0px solid black;
    background-color:  rgba(0,0,0,0.5);
    justify-content: space-between;
}

.tabletext {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color:  rgba(0,0,0,0.5);
    text-align: center;
    height: 100%;
}




.notes {
    padding: 5px;
}

table {
    width: 90%;
    line-height: 1.6;
    font-size: clamp(24px,2vmin,32px);
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

tr {
    border-top: 1px solid black;
    border-bottom: 0px solid black;
}

.tableTitle {
    /*font-size: 1rem;*/
    max-width: clamp(200px, 10vw, 1000px);
    padding: 5px;
    align-self: center;
}

/* top right bottom left*/

.toc_content {
    padding: 15px 0px 0px 00px;
}

.toc_topic_content {
    padding: 10px 0px 0px 0px;
}

.toc_topic_subcontent {
    padding: 7px 00px 0px 0px;
}

li {
    padding: 0px 0px 4px 20px;
    /*list-style: none;*/
    /*list-style:circle;*/
}

li.nested {
    padding: 0px 0px 4px 7px;
}

ul.nested {
    padding: 4px 0px 0px 35px;
}

.hide {
    display: none;
}

.highlight_container {
    height: 100%;
    width: 100%;
    font-size: 2em;
}



@media (min-width: 1280px) {
    .highlight_1 {
        position: absolute;
        top: 35%;
        left: 30%;
    }
    .highlight_2 {
        position: absolute;
        top: 45%;
        left: 33%;
    }
    .highlight_3 {
        position: absolute;
        top: 55%;
        left: 36%;
    }
    .highlight_background {
        border-radius: 0px;
        position: absolute;
        top: 31%;
        left: 0%;
        width: 100%;
        height: 30%;
        background-color:#2d2d2d;
        z-index:-1;
    }
    
    .highlight_StarWars {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        /*background-color:aliceblue;*/
        position: absolute;
        top: 14.5%;
        left: 20%;
        transform: rotate(0deg);
        zoom: 60%;
        z-index:-1;
    }
    .highlight_PvZ {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        /*background-color:aliceblue;*/
        position: absolute;
        top: 22%;
        left: 23%;
        transform: rotate(0deg);
        zoom: 40%;
        z-index:-1;
    }
    .highlight_Gears {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        /*background-color:aliceblue;*/
        position: absolute;
        top: 12%;
        left: 37%;
        transform: rotate(0deg);
        zoom: 12%;
        z-index:-1;
    }
    .highlight_Nfs {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        /*background-color:aliceblue;*/
        position: absolute;
        top: 22%;
        left: 75%;
        transform: rotate(-0deg);
        zoom: 50%;
        z-index:-1;
    }
    .highlight_skate {
        /*height: 50%;*/
        /*width: 120px;*/
        clip-path: inset(30% 0% 30% 0%);
        object-fit: none;
        align-self: self-end;
        background-color:aliceblue;
        position: absolute;
        top: 12.5%;
        left: 75%;
        transform: rotate(0deg);
        zoom: 6%;
        z-index:-1;
    }
    .highlight_battlefield {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        /*background-color:aliceblue;*/
        position: absolute;
        top: 22%;
        left: 38.5%;
        transform: rotate(0deg);
        zoom: 40%;
        z-index:-1;
    }
    .highlight_mad2 {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        position: absolute;
        top: 22%;
        left: 54%;
        transform: rotate(00deg);
        zoom: 10%;
        z-index:-1;
    }
    .highlight_fifa {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        position: absolute;
        top: 14.5%;
        left: 54.5%;
        transform: rotate(0deg);
        zoom: 23%;
        z-index:-1;
    }

    .highlight_Unreal {
        align-self: self-end;
        position: absolute;
        top: 65%;
        left: 30%;
        transform: rotate(0deg);
        zoom: 30%;
        z-index:-1;
        clip-path: inset(0% 0% 30% 0%);
    }
    .highlight_Unity {
        align-self: self-end;
        position: absolute;
        top: 65.5%;
        left: 40%;
        transform: rotate(0deg);
        zoom: 25%;
        z-index:-1;
        clip-path: inset(0% 65% 0% 0%);
    }
    .highlight_Godot {
        align-self: self-end;
        position: absolute;
        top: 65%;
        left: 48%;
        transform: rotate(0deg);
        zoom: 10%;
        z-index:-1;
    }
    .highlight_VisStudio {
        align-self: self-end;
        position: absolute;
        top: 65%;
        left: 56%;
        transform: rotate(0deg);
        zoom: 5%;
        z-index:-1;
    }
    .highlight_Javascript {
        align-self: self-end;
        position: absolute;
        top: 65.5%;
        left: 65%;
        transform: rotate(0deg);
        zoom: 8%;
        z-index:-1;
    }
}



@media (max-width: 1280px) {
    .highlight_1 {
        position: absolute;
        top: 32%;
        left: 23%;
    }
    .highlight_2 {
        position: absolute;
        top: 42%;
        left: 26%;
    }
    .highlight_3 {
        position: absolute;
        top: 52%;
        left: 29%;
    }
    .highlight_background {
        border-radius: 0px;
        position: absolute;
        top: 29%;
        left: 0%;
        width: 100%;
        height: 30%;
        background-color:#2d2d2d;
        z-index:-1;
    }

    .highlight_StarWars {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        /*background-color:aliceblue;*/
        position: absolute;
        top: 14%;
        left: 21%;
        transform: rotate(-0deg);
        zoom: 40%;
        z-index:-1;
    }        
    .highlight_PvZ {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        /*background-color:aliceblue;*/
        position: absolute;
        top: 20%;
        left: 23.5%;
        transform: rotate(0deg);
        zoom: 32%;
        z-index:-1;
    }
    .highlight_Gears {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        /*background-color:aliceblue;*/
        position: absolute;
        top: 12%;
        left: 42%;
        transform: rotate(0deg);
        zoom: 7%;
        z-index:-1;
    }
    .highlight_Nfs {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        /*background-color:aliceblue;*/
        position: absolute;
        top: 21%;
        left: 82%;
        transform: rotate(0deg);
        zoom: 32%;
        z-index:-1;
    }
    .highlight_skate {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        background-color:aliceblue;
        position: absolute;
        top: 12%;
        left: 82%;
        transform: rotate(0deg);
        zoom: 4%;
        z-index:-1;
        clip-path: inset(30% 0% 30% 0%);
        object-fit: none;
    }
    .highlight_battlefield {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        /*background-color:aliceblue;*/
        position: absolute;
        top: 20.5%;
        left: 42%;
        transform: rotate(0deg);
        zoom: 28%;
        z-index:-1;
    }
    .highlight_fifa {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        position: absolute;
        top: 14%;
        left: 61%;
        transform: rotate(0deg);
        zoom: 16%;
        z-index:-1;
    }
    .highlight_mad2 {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        position: absolute;
        top: 20.5%;
        left: 60%;
        transform: rotate(00deg);
        zoom: 7%;
        z-index:-1;
    }

    .highlight_Unreal {
        align-self: self-end;
        position: absolute;
        top: 63%;
        left: 25%;
        transform: rotate(0deg);
        zoom: 30%;
        z-index:-1;
        clip-path: inset(0% 0% 30% 0%);
    }
    .highlight_Unity {
        align-self: self-end;
        position: absolute;
        top: 63.5%;
        left: 42%;
        transform: rotate(0deg);
        zoom: 25%;
        z-index:-1;
        clip-path: inset(0% 65% 0% 0%);
    }
    .highlight_Godot {
        align-self: self-end;
        position: absolute;
        top: 63%;
        left: 56%;
        transform: rotate(0deg);
        zoom: 10%;
        z-index:-1;
    }
    .highlight_VisStudio {
        align-self: self-end;
        position: absolute;
        top: 63%;
        left: 70%;
        transform: rotate(0deg);
        zoom: 5%;
        z-index:-1;
    }
    .highlight_Javascript {
        align-self: self-end;
        position: absolute;
        top: 63.5%;
        left: 85%;
        transform: rotate(0deg);
        zoom: 8%;
        z-index:-1;
    }
}



@media (max-width: 1280px) and (max-height: 700px) {
    .highlight_1 {
        position: absolute;
        top: 48%;
        left: 23%;
        font-size: 1.5rem;
    }
    .highlight_2 {
        position: absolute;
        top: 58%;
        left: 26%;
        font-size: 1.5rem;
    }
    .highlight_3 {
        position: absolute;
        top: 68%;
        left: 29%;
        font-size: 1.5rem;
    }
    .highlight_background {
        border-radius: 0px;
        position: absolute;
        top: 46%;
        left: 0%;
        width: 100%;
        height: 30%;
        background-color:#2d2d2d;
        z-index:-1;
    }

    .highlight_StarWars {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        /*background-color:aliceblue;*/
        position: absolute;
        top: 14%;
        left: 21%;
        transform: rotate(-0deg);
        zoom: 40%;
        z-index:-1;
    }        
    .highlight_PvZ {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        /*background-color:aliceblue;*/
        position: absolute;
        top: 28%;
        left: 23.5%;
        transform: rotate(0deg);
        zoom: 32%;
        z-index:-1;
    }
    .highlight_Gears {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        /*background-color:aliceblue;*/
        position: absolute;
        top: 12%;
        left: 42%;
        transform: rotate(0deg);
        zoom: 7%;
        z-index:-1;
    }
    .highlight_Nfs {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        /*background-color:aliceblue;*/
        position: absolute;
        top: 29%;
        left: 82%;
        transform: rotate(0deg);
        zoom: 32%;
        z-index:-1;
    }
    .highlight_skate {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        background-color:aliceblue;
        position: absolute;
        top: 12%;
        left: 82%;
        transform: rotate(0deg);
        zoom: 4%;
        z-index:-1;
        clip-path: inset(30% 0% 30% 0%);
        object-fit: none;
    }
    .highlight_battlefield {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        /*background-color:aliceblue;*/
        position: absolute;
        top: 28.5%;
        left: 42%;
        transform: rotate(0deg);
        zoom: 28%;
        z-index:-1;
    }
    .highlight_fifa {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        position: absolute;
        top: 14%;
        left: 61%;
        transform: rotate(0deg);
        zoom: 16%;
        z-index:-1;
    }
    .highlight_mad2 {
        /*height: 180px;
        width: 120px;*/
        align-self: self-end;
        position: absolute;
        top: 28.5%;
        left: 60%;
        transform: rotate(00deg);
        zoom: 7%;
        z-index:-1;
    }

    .highlight_Unreal {
        align-self: self-end;
        position: absolute;
        top: 80%;
        left: 25%;
        transform: rotate(0deg);
        zoom: 15%;
        z-index:-1;
        clip-path: inset(0% 0% 30% 0%);
    }
    .highlight_Unity {
        align-self: self-end;
        position: absolute;
        top: 80.5%;
        left: 42%;
        transform: rotate(0deg);
        zoom: 12.5%;
        z-index:-1;
        clip-path: inset(0% 65% 0% 0%);
    }
    .highlight_Godot {
        align-self: self-end;
        position: absolute;
        top: 80%;
        left: 56%;
        transform: rotate(0deg);
        zoom: 5%;
        z-index:-1;
    }
    .highlight_VisStudio {
        align-self: self-end;
        position: absolute;
        top: 80%;
        left: 70%;
        transform: rotate(0deg);
        zoom: 2.5%;
        z-index:-1;
    }
    .highlight_Javascript {
        align-self: self-end;
        position: absolute;
        top: 80.5%;
        left: 85%;
        transform: rotate(0deg);
        zoom: 4%;
        z-index:-1;
    }
}