extends portfolio_guide 

block content
    hr
    div.title="Electronic Arts - Internal Game Jam 2019 Entry"
    div.subtitle="Rapid Prototyping Initiative"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    img.portfolioContentImage(src='../images/gameDesign/portfolio/rpcheque.png')
            div.portfolioWriteUp
                li I partnered with a Strategic Development Director on the opposite side of game development after he became interested in a post I made on our internal Slack
                    ul.nested
                        li.nested Together we developed a strategy to use available resources within EA to enable an indie-style development culture
                        li.nested This strategy involved consulting with a number of teams within EA, usually central teams like our Archival team, our IT team, etc to identify if they possess the ability to meet our requirements
                        li.nested They did, and my partner and I sat out to prove out the pipeline and the theory 
                        li.nested The premise of theory was basic: make EA's vast catalog of assets available
                li To prove this out, we would enter the Game Jam, and I, with help from Archival, IT, and my own project access, would build 1 or more games within 48 hours for the EA Game Jam 
                    ul.nested 
                        li.nested I used Mass Effect assets to build a crude auto-battler, which were popular at the time
                        li.nested I used Star Wars Battlefront 2's assets to build a small demo for the game jam 
                li After the finalists from the Game Jam were selected, we had to present to a panel of judges / Game Directors, and we received 2nd place for our efforts
                li In the end, I drew on some of the techniques of rapid prototyping to rapidly prototype and create demos on future projects
                    ul.nested 
                        li.nested This would later inform processes for a couple associated dev teams to also adopt this method to facilitate rapid prototyping
