extends portfolio_guide 

block content
    hr
    div.title="Army Of Two: Devil's Cartel (2013) - Game Designer"
        
    div.subtitle="Campaign Level Design & Scripting"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    <iframe src="https://www.youtube.com/embed/_gnqeOhnEZk?si=1L5xM75LafAV8Hz0&amp;start=730l" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li Building on our shooter experience and our Frostbite experience, our studio was tasked to help EA Montreal produce a few levels for the story campaign of Army of Two: Devil's Cartel
                li I designed, laid out the paths and cover configuration, and scripted AI encounters for the following levels:
                    ul.nested
                        li.nested #[a(href="https://youtu.be/_gnqeOhnEZk?si=wHdvDU-pkdLUo2aF&t=759") Gas Station] featuring a defensive stand around a Gas Station that blows up 
                        li.nested #[a(href="https://youtu.be/_gnqeOhnEZk?si=9qhlVpeWUuKKkJM6&t=1104") Approach Radar Station] featuring a co-operative moment to push a truck forward to create cover from a turret
                        li.nested #[a(href="https://www.youtube.com/watch?v=SL57b0JI_Go") Airplane Boneyard] where players split up with one taking on a sniper post over an airplane graveyard while the other advances forward on the ground
                        li.nested #[a(href="https://youtu.be/3T_ziQWaDaw?si=NPO-gKVoRIB7ra30&t=794") Driving Sequence] where players have to blow up vehicles in pursuit and ultimately have to fight a boss truck
                li For Ao2: DC, because the game has significant focus on co-op, this became a challenge and a staple of design
                    ul.nested
                        li.nested Creating good narrative reasons to facilitate splitting the players up, and then ensuring both players have meaningful gameplay
                        li.nested Special co-op sequences like both players having to push a truck simultaneously while in a combat encounter
                        li.nested Co-operative traversal moves to transition between areas, such as boosts and pull-ups required coordination between art and cinematics and gameplay scripting.
                        li.nested Lots of walk and talk sections where we had to time character movement through areas with section length, which is really fun to do when the audio doesn't fit.
                        li.nested Because of the desire to be seamless and performant, one of the constant challenges in this game was gating content, and we had to create 2player airlocks between a number of areas
                li I was never a fan of customization in games until this game, and I really enjoyed choosing gun skins and wearing different masks to help personify my character. 
                    ul.nested
                        li.nested This game put a lot of flavor into gun customization as well as the masks, and as a result, finding ways for players to express themselves in games became a consistent goal in my design.