extends portfolio_guide 

block content
    hr
    div.title="Credits"
    div.subtitle="Icons & Game Art"
    li Box Art: Electronic Arts, Microsoft
    li Icons:
        ul.nested 
            li.nested Unreal, Unity, Godot, Microsoft, Wikimedia Commons
            li.nested Github, Ubuntu, NodeJs, Digital Ocean
            li.nested <a href="https://www.flaticon.com/free-icons/math" target="_blank" title="math icons">Math icons created by Eucalyp - Flaticon</a>
            li.nested <a href="https://www.flaticon.com/free-icons/ux-design" target="_blank" title="ux design icons">Ux design icons created by Freepik - Flaticon</a>
            li.nested <a href="https://www.etsy.com/ca/shop/ThalassaStudios" target="_blank" title="ThalassaStudios">Math Art Posters - ThalassaStudios</a>
            li.nested <a href="https://www.flaticon.com/free-icons/www" title="www icons">Www icons created by Alfredo Hernandez - Flaticon</a>
    div.subtitle="Videos"
    li Game & Studio Videos: Electronic Arts, Microsoft, Sumo Digital, and People Can Fly
    li Youtube Streamers:
        ul.nested 
            li.nested <a href="https://www.youtube.com/@milscams" target="_blank" title="@milscams">@milscams</a>
            li.nested <a href="https://www.youtube.com/@Twothless" target="_blank" title="@Twothless">@Twothless</a>
            li.nested <a href="https://www.youtube.com/@Gameaholik" target="_blank" title="@Gameaholik">@Gameaholik</a>
            li.nested <a href="https://www.youtube.com/@GamersPrey" target="_blank" title="@GamersPrey">@GamersPrey</a>
            li.nested <a href="https://www.youtube.com/@WolfenPlayz" target="_blank" title="@WolfenPlayz">@WolfenPlayz</a>
            li.nested <a href="https://www.youtube.com/@TmarTn2" target="_blank" title="@TmarTn2">@TmarTn2</a>
            li.nested <a href="https://www.youtube.com/@Willzyyy" target="_blank" title="@Willzyyy">@Willzyyy</a>
            li.nested <a href="https://www.youtube.com/@AddictionToGaming" target="_blank" title="@AddictionToGaming">@AddictionToGaming</a>
            li.nested <a href="https://www.youtube.com/@theRadBrad" target="_blank" title="@theRadBrad">@theRadBrad</a>
            li.nested <a href="https://www.youtube.com/@JK90" target="_blank" title="@JK90">@JK90</a>
            li.nested <a href="https://www.youtube.com/@JDGamez15" target="_blank" title="@JDGamez15">@JDGamez15</a>
            li.nested <a href="https://www.youtube.com/@ZexyZekPlays" target="_blank" title="@ZexyZekPlays">@ZexyZekPlays</a>
            li.nested <a href="https://www.youtube.com/@Nightspeeds" target="_blank" title="@Nightspeeds">@Nightspeeds</a>
    div.subtitle="Thank you!"
    li And thank you to so many more that I have shared journeys with, to be inspired by and to learn from!




            