extends portfolio_guide 

block content
    hr
    div.title='FIFA 2017 (2016) - Senior Game Designer'
    
    div.subtitle="Story Mode Cinematics"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    <iframe src="https://www.youtube.com/embed/P9LHzVEPodg?si=CET8fTct6jfge_pV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li. 
                    Using my familiarity with cinematics technology in Frostbite, I was asked to help out with implementation of FIFA 2017's story mode cinematics, the first story mode within a FIFA game.
                li.                     
                    Composing sequences and timelines with assets, characters, animations, audio, and events.
                li. 
                    Troubleshoot and debug dynamic & sometimes complex scenes and scene switches to create seamless and lossless cinematics.
                li. 
                    For better or worse, there was additional FOV and DOF tuning across the cinematics.
                li. 
                    Hair and cloth was a big problem, and left to the experts.  
