extends portfolio_guide 

block content
    hr
    div.title="Gears 5 (2019) - Senior Game Designer"
    div.subtitle="Multiplayer Level Design"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                     <iframe src="https://www.youtube.com/embed/8C6Qsu9ZjbY?si=EsLHSAMRdEycl-Qf&amp;start=15" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li As a Multiplayer Level Designer on Gears 5, I designed maps for competitive PvP and PvE modes, taking maps from concept to release.
                    ul.nested
                        li.nested Followed the established Gears map design process, starting with one-pagers, identifying key fights and dynamics, and collaborating with Art for theme and assets.
                        li.nested Greyblocked maps in editor, focusing on overall macro details like scale & layout, lanes, and connections between areas before refining micro details like cover and spawn points. 
                        li.nested Configured the map to support multiplayer game modes: Horde, TDM, KOTH, CTF, FFA, etc including setting up spawners, intro, outro and mvp cinematics, and flythrough + spectator cams.
                        li.nested Maintain gameplay, cover, and collision integrity while Art replaces greyblock with production assets.
                        li.nested Playtested extensively and iterated on map balance, flow, and combat dynamics based on feedback from internal play sessions and focus groups.
                        li.nested May or may not have implemented an Easter Egg or two.