extends portfolio_guide 

block content
    hr
    div.title="Gears 5 (2019) - Senior Game Designer"
    div.subtitle="Multiplayer Level Design"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                     <iframe src="https://www.youtube.com/embed/8C6Qsu9ZjbY?si=EsLHSAMRdEycl-Qf&amp;start=15" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li As a Multiplayer Level Designer on Gears 5, I designed maps for competitive PvP and PvE modes, taking maps from concept to release.
                    ul.nested
                        li.nested Followed the established Gears map design process, starting with one-pagers, identifying key fights and dynamics, and collaborating with Art for theme and assets.
                        li.nested Greyblocked maps in editor, focusing on overall layout, lanes, and zones before refining cover and spawn points. 
                        li.nested Playtested extensively and iterated on map balance, flow, and combat dynamics based on feedback from internal play sessions and focus groups.
                        li.nested Balanced competitive gameplay across multiple modes (Horde, TDM, KOTH, CTF, PvE) while maintaining the Gears franchise’s signature look and gameplay.
                        li.nested Maintain maps through Art production process keeping the map integrity while Art replaces greyblock with production assets.




