extends portfolio_guide 

block content
    hr
    div.highlight_container 
        div.highlight_1="20+ years crafting gameplay across multiple genres and AAA franchises"
        div.highlight_2="Mastery of game development framework from concept to evergreen"
        div.highlight_3="Extensive design experience paired with advanced technical skills"

        div.highlight_background=" "


        img.highlight_StarWars(src="../images/gameDesign/portfolio/swbf2logo.png")
        img.highlight_PvZ(src="../images/gameDesign/portfolio/pvzgw2-logo-2019.png")
        img.highlight_Gears(src="../images/gameDesign/portfolio/Gears-of-War-logo.png")
        img.highlight_Nfs(src="../images/gameDesign/portfolio/Need_For_Speed_Logo_Blue.svg.png")
        img.highlight_skate(src="../images/gameDesign/portfolio/Skate-Logo-2007.png")
        img.highlight_battlefield(src="../images/gameDesign/portfolio/Battlefield_Hardline.webp") 
        img.highlight_fifa(src="../images/gameDesign/portfolio/PngItem_2009790.png")
        img.highlight_mad2(src="../images/gameDesign/portfolio/Madden-NFL-Logo-PNG-File.png")



        img.highlight_Unreal(src="../images/gameDesign/portfolio/unrealengine.png")
        img.highlight_Unity(src="../images/gameDesign/portfolio/U_Logo_White_RGB.png")
        img.highlight_Godot(src="../images/gameDesign/portfolio/icon_color_outline.png")
        img.highlight_VisStudio(src="../images/gameDesign/portfolio/vstudio.png")
        img.highlight_Webdev(src="../images/gameDesign/portfolio/techstack.png")

        //img.highlight_Excel(src="../images/gameDesign/portfolio/excel-5963669_1280.webp")
        //img.highlight_Maya(src="")
        //img.highlight_Mural(src="../images/gameDesign/portfolio/17d4a23-miro-logo-color-square.png")


        //img.highlight_Math(src="")
        //img.highlight_Degree(src="../images/gameDesign/portfolio/degree.jpg")
        //img.highlight_UxUi(src="../images/gameDesign/portfolio/ux-interface.png")
        //img.highlight_Progression(src="")
        //img.highlight_SystemDesign(src="")
        //img.highlight_Roadmap(src="")
        //img.highlight_FeatureDesign(src="")

        