extends portfolio_guide 

block content
    hr
    div.title='Need For Speed Rivals (2013) - Senior Game Designer'
    
    div.subtitle="Objective System"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    <iframe src="https://www.youtube.com/embed/YQRfzltRDCw?si=wG1LtSVvunFbYIeN&amp;start=29" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li I worked with Ghost Games & Criterion Games to support Need For Speed Rivals, who were looking to leverage our team's Frostbite experience
                li I collaborated with an engineer to design and build an Objective system that could track and reward players for stunts and feats during races and while in free-roam
                li These achievements included tracking driving maneuveres for multipliers and objectives for 'Speedlist' and 'Assignment' achievements for Career playthroughs, e.g.
                    ul.nested
                        li.nested Passing a racer, or passing a racer near the finish line.
                        li.nested Wreck X racers while playing as a cop
                        li.nested Hit a racer with a spike strip
                        li.nested Complete events to earn Gold, Silver, or Bronze
                li I was able to implement a number of achievements using out-of-the-box solutions, and we worked with Ghost to identify and implement a number of functions to detect the conditions required for more complex achievements
                li Towards the end of production, we handed off the achievements development to Ghost so they could maintain post-launch.

