extends portfolio_guide 

block content
    hr
    div.title='Need For Speed: The Run (2011) - Game Designer'
    
    div.subtitle="E3 Stage Demo + Story Mode Mission Scripting"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    <iframe src="https://www.youtube.com/embed/enPPy4dYI9M?si=llJTprJtKmuSnobP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li. 
                    Built and designed key story races, including the race used for the E3 stage demo, scripting all race elements.
                li.     
                    I worked closely with the Creative Director and Lead Game Designer to design and develop the helicopter gameplay.
                li. 
                    I contributed technical support to other story mode races, and added falling boulders to the <a href="https://youtu.be/_jI0LdhodoA?si=O1yGu6Nundc0o9uk&t=196">Avalanche level</a>
                li. 
                    Supported story mode races from a technical perspective, tuning start positions, finish positions, AI and traffic.
                li.    
                    I helped tune AI for for race events
    div.subtitle="Challenge Series"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    <iframe src="https://www.youtube.com/embed/0_GmY7uboFg?si=SsH-zTYPD_ABxOFC&amp;start=550" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li.
                    Worked with the Creative Director to create and design the entire Challenge Series.
                li. 
                    Created novel racing experienced by designing unique routes within existing maps, handpicking cars from the full catalog, and altering time of day and weather.
                li. 
                    I also scripted cop, mob, and helicopter encounters, placed obstacles, and tuned traffic conditions to further create unique challenges.
                li. 
                    Collaborated with the branding team to design the Challenge Series UX, which included sponsorships and DLC support.
                li. 
                    Took gameplay photos featuring cars in iconic poses at key locations for Challenge Series challenges.
                li. 
                    Worked with QA to tune and set Gold / Silver / Bronze times for each Challenge Series event.
                    
                
