extends portfolio_guide 

block content
    div.title='Plants Vs Zombies: Battle For Neighborville - Senior Game Designer'
        hr
    div.subtitle="Technical Design"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    <iframe src="https://www.youtube.com/embed/caZCXBfxvdc?si=RO28_eTDfMWSVMSS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li I built a number of bosses, including the end stage boss, Dreadwood - all of these bosses were designed for 1-4 players
                    ul.nested 
                        li.nested Adapted and balanced these encounters in response to changing player balance goals, maintaining challenge and fairness in the gameplay.
                li Built AI behaviors for various enemy characters
                    ul.nested
                        li.nested Developed the base behavior for the open-world AI prototype, allowing AI characters to return to an unalert state, creating open world PvZ for the first time!
                li Designed and built a Damage Per Second testing tool, known as the "DPS box," for gameplay balance testing.
                    ul.nested 
                        li.nested This tool was integrated into automation testing to produce accurate DPS reports for a wide array of characters and weapons, aiding in balancing and performance tuning.
                li Organized and balanced over 1,000 buffs within the game, helping to unscramble a mess of development
                li Worked between UX, UI, Creative Director, and LDs to design and build the progression and data driven components of our game UI
    div.subtitle="Monthly Activities"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    <iframe src="https://www.youtube.com/embed/xvTfdaOU8-o?si=pXv2J3lO9cHCJePR&amp;start=12" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li Led design of monthly activites, overseeing two designers. 
                    ul.nested 
                        li.nested Created a recipe for continually producing monthly or seasonal themed activities, 
                        li.nested e.g. February = Valentine's theme, which became Valenbrainz, and our activities would try to capitalize on that theme.
                li Developed prototypes for new multiplayer game modes to extend the utility of single-player semi-open-world maps, enhancing replayability and player engagement.
                    ul.nested 
                        li.nested Identified goals with production and marketing, which was essentially to try to make the most out of our assets
                        li.nested Scripted game modes together and organized internal playtests



                