extends portfolio_guide 

block content
    hr
    div.title='Plants Vs Zombies: Garden Warfare 2 (2016) - Senior Game Designer'
        
    div.subtitle="Soil Survivors DLC Game Mode (2018)"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    <iframe src="https://www.youtube.com/embed/rHGN1rEQWNU?si=6s8OONmIpSi__-hB&amp;start=18" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li.
                    I returned to Garden Warfare 2 and built the Soil Survivors game mode in about 3 months for the 10th DLC pack, whch was themed around this game mode.
                li. 
                    Our team was minimal, it was largely just me scrounging together any support I could muster away from PvZ: Battle For Neighborville.
                li. 
                    After an initial brainstorm meeting, we came up with a Counterstrike Team Elimination meets Battle Royale.
                li. 
                    I borrowed the space-time continuum from Cats vs Dinos, and added in PUBG ring mechanics to shrink around a new center spot with each iteration.
                li.    
                    The UI was cobbled together from existing elements; the match summary screen is missing a layer of data.
                li. 
                    I created all the game mode logic, as well as the team handling logic, and configured the server parameters 
                li. 
                    With our first patch, I added bots to even up games with uneven numbers of players, otherwise the game became very unbalanced.
    
    div.subtitle="Solo Ops Companions"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    <iframe src="https://www.youtube.com/embed/wPaWBYMQ5Fw?si=fX6G5RXnZKjiQoHO&amp;start=22" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li.
                    I stood up the AI bot companions feature for Solo Ops, allowing players to choose and swap between companions during gameplay, and emulate Garden Ops with friends.
                li. 
                    For this, I created the pots and prototyped UI for the companion selection mechanism, and players are able to choose companions before planting their garden.
                li. 
                    I modified the AI behavior to allow companions to prioritize defending the player and base if either was under attack.
    div.subtitle="Infinity Time Game Mode"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    <iframe src="https://www.youtube.com/embed/DCBprjJiPJY?si=8-NBpdvbnL3obprh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                
                li. 
                    Built the end-game mode Infinity Time, where players control large Plant or Zombie mechs to survive against waves of magical gnomes.
                li. 
                    I worked with the Creative and Art directors to design the Gnome army, including bosses.
                li. 
                    I worked with gameplay designers design attack behaviors,including animations and audio.
                li. 
                    I also worked with animation and art to implement the Gnome army and boss characters and set up their AI and abilities
                li. 
                    I also created giant versions of hero characters to create bosses, giving them each special abilities like enhanced attacks and summons.
                
                    
                
