extends portfolio_guide 

block content
    hr
    div.title="QA Development Manager"
        
    div.subtitle="Central Services - Online & Compliance"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    img.portfolioContentImage(src='../images/gameDesign/portfolio/b6634wkhlf8a1.jpg')
            div.portfolioWriteUp
                li Managed online and compliance testing for EA’s Xbox 360 launch titles, PS2 online titles, and certain PSP titles.
                li Oversaw a team of 30+ testers across multiple games and SKUs, including
                    ul.nested 
                        li.nested Need for Speed Underground, NFS Underground 2, and NFS Most Wanted.*
                        li.nested EA Sports Online titles: FIFA, Madden, Tiger Woods PGA, NBA, NHL
                        li.nested Medal Of Honor: Heroes, Timesplitters: Future Perfect (this got half the team sent to UK for 2 months!!)
                        
    div.subtitle="Submission Audit Team"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    img.portfolioContentImage(src='../images/gameDesign/portfolio/bigstock-D-Small-People-Lupe-Audit-54898952.jpg')
            div.portfolioWriteUp
                li Tasked with creating and leading a Submission Audit Team to pre-scrub projects and raise awareness of certification issues before certification.
                li Recruited and built a specialized team of testers.
                li Analyzed historical data on submission failures, created tailored test plans, and produced a 'submission confidence report' to identify certification risks early and ensure timely releases.
            
