extends portfolio_guide 

block content
    hr
    div.title="QA Tester / Senior Tester"
    
    div.subtitle="EA Sports Online (EASO)"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    img.portfolioContentImage(src='../images/gameDesign/portfolio/51S1YVCXADL.jpg')
            div.portfolioWriteUp
                li Initially tested online connectivity issues for NHL 2002 PC, checking that players couldn't interfere negatively with the game experience or the score reporting mechanisms 
                li Then moved into testing the EASO PC platform (EA Sports Online), an early predecessor to what would eventually become Ultimate Team
                    ul.nested 
                        li.nested Supporting EA Sports titles: FIFA, Madden NFL, Tiger Woods PGA, MVP Baseball, and NHL.
                        li.nested Tested front-end and back-end flows, and online sports platform functionality
                        
    div.subtitle="Online Clean Room"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    img.portfolioContentImage(src='../images/gameDesign/portfolio/brave_p09fMDM5KS.jpg')
            div.portfolioWriteUp
                li Worked with EA IT to create a 'clean room' at EA, off the network, to test online capabilities in a real-world environment. 
                li Used special tools to emulate network conditions and tested a range of EA titles, generating bugs and communicated with many development teams.
                    ul.nested 
                        li.nested With our unique setup, my services were requested to supporting other EA studios' titles, and I supported games like Fight Night, Burnout, and more.
                li Occasionally consulted with/by EA’s internal certification groups, as well as Microsoft and Sony certification groups, on router configuration and port setups for manuals.
                li Assisted EA Singapore in setting up their own miniature clean room. Eventually oversaw two other testers who began assuming more of the clean room duties, interacting directly with engineering and central online teams.
                li This was a fantastically unique experience, getting to interact directly with engineers and producers across many development teams, some of whom would commonly came to seek refuge in the Clean Room while debugging issues.
                    ul.nested 
                        li.nested Plus I had air conditioned and unbelievably cool room when some of our other dev areas were nearly sweltering in the summer.
            



