extends portfolio_guide 

block content
    hr
    div.title="Star Wars: Battlefront 2 (2017) - Senior Game Designer"
        
    div.subtitle="Level Design & Scripting - Outcasts - Space Combat"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    <iframe src="https://www.youtube.com/embed/R9bGTWy_Yxg?si=WArGYLElfWbh3YkM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li I worked with EA Motive and guidede multiple designers efforts to support single player campaign level development.
                li I took on one level initially and eventualy took on Sullust/Cache Grab 
                li I liaised directly with the EA Motive Directors and Leads, and adopted their game design processes into my own
                li Designed and built Outcasts (Naboo Space): Space combat mission where players, as Iden and Del, defend Princess Leia’s ship and stop Operation Cinder.
                    ul.nested
                        li.nested Scripted space combat sequences where players pilot an X-Wing to take down TIE fighters and destroy groups of satellites targeting Naboo.
                        li.nested Players protect Y-Wing bombers as they attack a Star Destroyer’s shield generators, culminating in a dogfight against TIE fighters before the mission transitions to Naboo's surface.
                li While this isn't the only Star Wars project I've worked on, it's very interesting experience to work with Disney and have to work within the constraints of the IP.
                    ul.nested 
                        li.nested For example, we had to be fairly specific and within rules for where we placed turrets on an Imperial Star Destroyer
                li Towards the end of production, I was tasked with helping to close out bugs in the rest of the campaign levels.
    div.subtitle="Level Design & Scripting - Cache Grab - AT-AT Factory"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    <iframe src="https://www.youtube.com/embed/afnqtR31NiA?si=40eIys4hUmcBTo5a" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li Combat mission inside an imperial AT-AT factory where the player eventually takes control of an AT-AT and wrecks havoc
                    ul.nested
                        li.nested Finalized the layout for the imperial factory, giving players insight into AT-AT manufacturing.
                        li.nested Designed key combat areas, providing players with multiple approaches for sneaking or fighting through the level.
                        li.nested Scripted objectives where players shut down the factory, take control of an AT-AT, and escape across the surface of Sullust.
                





